.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.appTitle {
  font-size:x-large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s;  }
  }
  
  .sectionContainer{
    background-color: rgb(227, 110, 247);
    min-height: 55vh;
  }

  a {
  color: #342828;
}

a:hover{
  color: #000000;
}

.mainPageBio{
  font-size: larger;
  border: black;
  margin-left: 35px;
  border-style: solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 35px;
  padding: 10px;
}

.aboutMeBio {
  border-width: 1px;
  margin-left: 35px;
  border-style: solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 35px;
  font-size: larger;
  padding: 25px;

}


#aboutMeHeader {
  border: black;
  border-style: solid;
  margin-left: 35px;
  border-style: solid;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 35px;
}

.projectBoxContainer{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  gap: 15px;
}

.project {
  min-height: 150px;
  border: 1px solid black;
}

.navbar{
  background-color: rgb(139, 136, 136);
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: space-evenly;
  
}

.nav-item{
  padding: 10px;
  margin: 0;
  color: grey;
}

.resumeContainer {
  background-color: rgb(227, 110, 247);
}

.contactInfoContainer{
  background-color: rgb(227, 110, 247);
}

.emailStyling {
  border-bottom-style: double;
}

.containerWithSpinningLogo {
  background-color: #342828;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.footer {
  background-color: rgb(139, 136, 136);
}

.footerText {
  font-size: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
